<main class="signup-content">
        <div class="signup-form-container">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: "signup-form", autocomplete: 'off'}) do |f|%>
                <div class="signup-input-flex">
                    <%=f.text_field :first_name, placeholder: "first name", class: "py-2 my-2"%>
                    <%=f.text_field :last_name, placeholder: "last name", class: "py-2 my-2"%>
                </div>
                <div class="signup-input-flex">
                    <%=f.email_field :email, placeholder: "email", class: "py-2 my-2"%>
                    <%=f.text_field :username, placeholder: "username", class: "py-2 my-2"%>
                </div>
                <div class="signup-input-flex">
                    <%=f.password_field :password, placeholder: "new password", class: "py-2 my-2"%>
                    <%=f.password_field :password_confirmation, placeholder: "confirm password", class: "py-2 my-2"%>
                </div>
                <%= f.password_field :current_password, placeholder: "current password", class: "p-2 my-2 border rounded" %>
                <%=f.submit "Edit Account", class: "py-2 my-4 font-weight-bold signup-button border-0"%>
            <%end%>
        </div>
    </main>

