

<main class="my-container">
        <div class="my-form">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form"} ) do |f| %>
                <div class="inputs">
                    <i class="fas fa-user"></i>
                    <%=f.text_field :email, placeholder: "email", class: "input py-2 my-2 border-0"%>
                </div>
                <div class="inputs">
                    <i class="fas fa-lock"></i>
                    <%=f.password_field :password, placeholder: "password", class: "input py-2 my-2 border-0"%>
                </div>
                <%=f.submit "Log in", class: "button py-2 my-2 font-weight-bold border-0"%>
            <%end%>
            <div class="accounts">
                <%= link_to "Create account", new_user_registration_path, class: "text-white font-weight-bold"%>
            </div>
        </div>
    </main>
