<main>
        <section class="most-voted">
            <img src="<%=@voted_post.image%>" alt="">
            <div class="most-voted-content">
                <h5 class="font-weight-bold text-white bg-dark"><%=@voted_post.title%></h5>
            </div>
        </section>
        
        <section class="categories">
            <%@categories.each do |category|%>
            <div class="category">
                <%if category.posts.exists?%>
                    <%=link_to category_path(category) do%>
                        <img src="<%=category.posts.first.image%>" alt="">
                        <h6 class="text-white p-2 font-weight-bold bg-dark"><%=category.name%></h6>
                        <p class="font-weight-bold bg-dark"><%=truncate(category.posts.first.title.capitalize, length: 40, omission: '...')%></p>
                    <%end%>
                <%end%>
            </div>
            <%end%>
        </section>
    </main>